<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='agregar_estudiante.css') }}">
    <title>Agregar Informe</title>
</head>
<body>
    <div class="contenedor">
        <div class="header">
            <img src="{{ url_for('static', filename='imagenes/logo.png') }}" alt="Logo" class="logo">
        </div>
        <h1>Agregar Informe</h1>
        <form method="post">
            <div class="form-group">
                <div>
                    <label for="cedula_estudiante">CEDULA ESTUDIANTE:</label>
                    <input type="text" id="cedula_estudiante" name="cedula_estudiante" required pattern="\d*">
                </div>
                <div>
                    <label for="numero_informe">NUMERO DE INFORME:</label>
                    <input type="text" id="numero_informe" name="numero_informe" required pattern="\d*">
                </div>
                <div>
                    <label for="entrega">ENTREGA:</label>
                    <input type="checkbox" id="entrega" name="entrega" value="1">
                    <label for="entrega">Marque si el informe fue entregado</label>
                </div>
                <div>
                    <label for="nota_evaluacion">NOTA EVALUACION:</label>
                    <input type="text" id="nota_evaluacion" name="nota_evaluacion" required>
                </div>
                <div>
                    <label for="nota_sustentacion">NOTA SUSTENTACION:</label>
                    <input type="text" id="nota_sustentacion" name="nota_sustentacion" required>
                </div>
            </div>
            <div class="buttons">
                <button type="submit">GUARDAR</button>
                <button onclick="location.href='/panel_maestro'">ATRAS</button>
            </div>
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>