<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Archivos Registrados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='archivos_registrados.css') }}">
    <link rel="icon" href="./static/imagenes/logo.png" type="image/icon">
</head>
<body>
    <h1>Archivos Registrados</h1>
    <!-- Formulario para subir archivos -->
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="archivo" required>
        <input type="submit" value="Subir Archivo">
    </form>

    <!-- Mostrar archivos subidos -->
    <ul>
        {% for archivo in archivos %}
            <li>
                {{ archivo }}
                <a href="{{ url_for('descargar_archivo', nombre_archivo=archivo) }}">Descargar</a>
                <form action="{{ url_for('eliminar_archivo', nombre_archivo=archivo) }}" method="post" style="display:inline;">
                    <button type="submit">Eliminar</button>
                </form>
            </li>
        {% endfor %}
    </ul>

    <!-- Mostrar mensajes flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <button onclick="location.href='/panel_maestro'" type="button" class="btn-salir">ATRÁS</button>
</body>
</html>



