<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Estudiante</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='eliminar.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='imagenes/logo.png') }}" type="image/icon">
</head>
<body>
    <div class="contenedor">
        <img src="{{ url_for('static', filename='imagenes/fondos.jpg') }}" alt="Logo" class="logo">
        <h1>Eliminar Estudiante</h1>
        <form action="/eliminar" method="post" class="form-eliminar">
            <div class="grupo-input">
                <label for="codigo">CEDULA.E:</label>
                <input type="text" id="codigo" name="codigo" required class="input-codigo">
                <button type="submit" class="boton-eliminar">Eliminar</button>
            </div>
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="mensaje">
                    {% for category, message in messages %}
                        <p class="{{ category }}">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <button onclick="location.href='/panel_maestro'" type="button" class="btn-salir">ATRÁS</button>
    </div>
</body>
</html>

