<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='registro.css') }}">
    <link rel="icon" href="./static/imagenes/logo.png" type="image/icon">
    <title>Registro de Usuario</title>
</head>
<body>
    <div class="contenedor">
        <h2>Crear nuevo usuario</h2>
        <form action="/registro" method="POST">
            <input type="text" name="usuario" placeholder="Nuevo Usuario" required>
            <input type="password" name="contraseña" placeholder="Nueva Contraseña" required>
            <button type="submit">Registrar</button>
        </form>
        <p><a href="/">Volver</a></p>
    </div>
</body>
</html>
