/* General */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    color: #2C3E50;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

/* Contenedor principal */
.container {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 40px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

input[type="file"] {
    margin-right: 10px;
}

input[type="submit"], button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover, button:hover {
    background-color: #2980b9;
}

/* Lista de archivos */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ecf0f1;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

a {
    color: #3498db;
    text-decoration: none;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}

/* Mensajes flash */
ul.flash-messages {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.flash-messages li {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.flash-messages .success {
    background-color: #2ecc71;
    color: white;
}

.flash-messages .error {
    background-color: #e74c3c;
    color: white;
}

/* Estilo para el formulario de subida */
form input[type="file"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.btn-salir {
    background-color: #4CAF50;  /* Color de fondo */
    color: white;               /* Color del texto */
    padding: 10px 20px;         /* Espaciado interno */
    text-align: center;         /* Centrar el texto */
    text-decoration: none;      /* Eliminar subrayado */
    display: inline-block;      /* Que el botón sea inline */
    font-size: 16px;            /* Tamaño de fuente */
    border: none;               /* Sin borde */
    border-radius: 5px;         /* Bordes redondeados */
    cursor: pointer;           /* Cambiar el cursor a puntero */
    transition: background-color 0.3s ease;  /* Efecto de transición */
}

.btn-regresar:hover {
    background-color: #45a049;  /* Cambio de color cuando el mouse pasa por encima */
}
